extends layout

block content
  .row
    .col-md-4.col-md-offset-4.mx-auto
      if userLoggedIn
        h3.text-center Welcome back #{username}!
        form(id="logout" action="/logout" method="POST")
          .form-group
            input.btn.btn-info.btn-lg.btn-block(type='submit' value="Logout")
