doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Castle
    script(src='https://d2t77mnxyo7adj.cloudfront.net/v1/c.js?197182892747318')
    script(type='text/javascript').
      if (userLoggedIn=false) _castle('identify', #{user_id});
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

  body
    .container
      .row.mx-auto.col-md-4.col-md-offset-4.mt-5
        img.img-fluid.py-3(src='https://lever-client-logos.s3.amazonaws.com/3db9fd96-a3e9-464d-b05c-8f71c202d2ca-1549273840289.png')
      block content
